/* Main Promo */
.main-promo {
	min-height: 600px;
	background: url('../img/main-promo-img.jpg') top center;
	background-size: cover;

	@media @mobile {
    	min-height: 300px;
    }
}

/* Main Message */
.main-message {
	text-align: center;
	padding: 40px 20px;
	background: #f7f7f7;

	.text-box {
		max-width: 1080px;
		margin: 0 auto;
		font-size: 18px;
		line-height: 1.6;
	}
}

/* Icon Title */
.icon-title-box {
	text-align: center;
	margin: 0 0 25px;

	img {

	}
}		

/* Title */
.title-box {
	margin: 0 0 25px;
	color: #353738;
}

/* Text */
.text-box {
	color: #848789;
}

/* Slider Section */
.slider-section {
	padding: 100px 20px 60px;
	text-align: center;

	.icon {
		margin: 0 0 30px;
	}

	.title {
		color: #848789;
		font-size: 18px;
		margin: 0 0 25px;

		.time {
			padding: 0 0 0 10px;
			margin: 0 0 0 10px;
			position: relative;
			color: #353738;

			&:before {
				content: '/';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}

	.text {
		color: #848789;
		font-size: 24px;
		line-height: 1.2;
		max-width: 1080px;
		margin: 0 auto;
	}
}


/* Shop Button */
.shop-button {
	background: #282f35;
	padding: 40px 20px;
	text-align: center;

	a {
		display: inline-block;
		padding: 10px 25px;
		color: #fff;
		border: solid 1px #fff;
		font-size: 13px;
		text-transform: uppercase;
		text-decoration: none;
		transition: all ease .5s;

		&:hover {
			background: #fff;
			color: #282f35;
		}
	}
}